<template name="ApplicationLayout">
    <header>
        <title>chat app</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation" class=" teal accent-3">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">ChitterChatter</a>
                    <ul class="right">
                        <li><a href="/search"><i class="material-icons left sss">search</i>Friends</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
    </body>
</template>

<template name="welcome">
    {{#if currentUser}}
    <h2>Chat</h2> {{else}}
    <h2>Post</h2> {{/if}}
    <form class="name-form">
        <input tpye="text" name="firstname">
        <input type="submit">
    </form>
    <ul>
        {{#each posts}}
        <li><a href="/post/{{_id}}">{{username}}{{name}}</a></li>
        {{/each}}
    </ul>
</template>


<template name="post">
    <h2 class="post-class">{{name}}></h2>
</template>